h1 {font-size: 220%;
    text-align:center;
    color: blue;
    font-family: times new roman, times, serif}

h2  {font-size: 160%;
    text-align:center;}

p  {font-size: 100%;
    font-family: times new roman, times, serif;
    text-align:center;}

body {background-color: lightblue;}

.clash1  {margin:auto;}
