h1 {font-size: 220%;
    text-align:center;
    color: blue;
    font-family: times new roman, times, serif;
    margin-top: 50px;}

h2  {font-size: 160%;
    text-align:center;
    margin-top: 50px;}

p  {font-size: 100%;
    font-family: times new roman, times, serif;
    text-align:center;}

body {background-color: lightblue;}

.Clash1 {width: 25%;
         height: 50%;}

.Clash2 {width: 25%;
         height: 50%;
         margin: 0 auto;}

.Clash3 {width: 25%;
         height: 50%;
         margin: 0 auto}

#sub-paragraph {font-size: 100%;
                font-family: times new roman, times, serif;
                text-align:center;
                margin-bottom: 50px;}

body {text-align: center;}
