h1 {font-size: 220%;
    text-align:center;
    color: blue;
    font-family: times new roman, times, serif}

h2  {font-size: 160%;
    text-align:center;}

p  {font-size: 100%;
    font-family: times new roman, times, serif;
    text-align:center;}

body {background-color: lightblue;}

.Clash1 {width: 25%;
         height: 50%;
         margin: 0 auto;}

.Clash2 {width: 25%;
         height: 50%;
         margin: 0 auto;}

.Clash3 {width: 25%;
         height: 50%;
         margin: 0 auto}

body {text-align: center;}
